<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>

    <target name="logfile" xsi:type="File" fileName="C:\Interface\API_Article\time-track-${shortdate}.log"
         layout="${uppercase:${level}}-${longdate} - ${message} ${exception:format=Message,Method,StackTrace:maxInnerExceptionLevel=10}"/>

    <target name="timeTrack" xsi:type="File" fileName="C:\Interface\API_Article\nlog-all-${shortdate}.log"
         layout="${uppercase:${level}}-${longdate} - ${message} ${exception:format=Message,Method,StackTrace:maxInnerExceptionLevel=10}"
               archiveFileName="C:\Interface\API_Article\archiveInterfaceLog.${shortdate}.log"
               archiveNumbering="Date"
               archiveEvery="Day"
               maxArchiveFiles="2"/>
    
    <!--
    <target name="allFile" xsi:type="File" fileName="‪C:\Interface\API_Article\nlog-all-${shortdate}.log" 
            layout="${longdate}|${uppercase:${level}}|${logger}|{message} ${exception:format=tostring}"/>

    <target name="logconsole" xsi:type="Console" /> 
    -->
    
  </targets>

  <rules>
    <logger name="API_Article.Filters.TimeTrackFilter" minlevel="Trace" writeTo ="timeTrack"/>
    <logger name="*" minlevel="Trace" writeTo ="logfile"/>
    <!--
      <logger name="*" minlevel="Info" writeTo="logconsole" />
      <logger name="*" minlevel="Debug" writeTo="logfile" />
    -->
  </rules>
</nlog>